<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.vendrov.plugins"
      version="0.1.2">
    <name>Notification</name>
    <description>Notification Service plugin</description>
    <license>MIT</license>
    <keywords>phonegap,notification</keywords>
 
 
    <js-module src="www/notification.js" name="NotificationManager">
        <clobbers target="window.notification" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NotificationManager">
                <param name="android-package" value="com.vendrov.plugins.NotificationManager"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/NotificationManager.java" target-dir="src/com/vendrov/plugins" />  
	
      <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="com.plugin.gcm.PushHandlerActivity"/>
			<receiver android:name="com.plugin.gcm.CordovaGCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
				<intent-filter>
					<action android:name="com.google.android.c2dm.intent.RECEIVE" />
					<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
					<category android:name="$PACKAGE_NAME" />
				</intent-filter>
			</receiver>
			<service android:name="com.plugin.gcm.GCMIntentService" />
		</config-file>
     </platform>          
</plugin>